# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List Some of the commonly used libraries used by Data Scientists
- List few  development environment open source tools used in data - science.
- Understanding how to work on Mark Down Cells
- How to Do Basic arithmetic expressions in Code cells of Jupiter  Note book

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. ggplot
5. Caret

| Data Science Tools |
| ------------------ |
Jupyter Notebook
R studio 
Visual Studio code

###  Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
mins = 200
valx = 60
Hrs = mins/valx
print(Hrs)

3.3333333333333335

##  Author
Kranthi Sampara